
body {
  background-color: Azure;
  color:DimGray;
  font-family: "Tahoma", Geneva, sans-serif;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQgaVeUdZbwN9VP9v0nXB2_RsSlm3ZxBrmOGg&usqp=CAU');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  background-color: LightSlateGrey;
  color:WhiteSmoke;
  padding: 30px;
}
