
body {
  background-color: Azure;
  font-family: "Tahoma", Geneva, sans-serif;
  background-image: 
}
h1 {
  background-color: LightSlateGrey;
  padding: 30px;
}
img {
  padding: 20px, 0px, 0px, 0px;
}
